<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (violation) {
      <div>
        <h2 data-cy="violationDetailsHeading"><span jhiTranslate="trafficpatrolApp.violation.detail.title">Violation</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ violation.id }}</span>
          </dd>
          <dt><span jhiTranslate="trafficpatrolApp.violation.violationType">Violation Type</span></dt>
          <dd>
            <span>{{ violation.violationType }}</span>
          </dd>
          <dt><span jhiTranslate="trafficpatrolApp.violation.points">Points</span></dt>
          <dd>
            @if (violation.points) {
              <div>
                <a [routerLink]="['/points', violation.points.id, 'view']">{{ violation.points.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="trafficpatrolApp.violation.appUser">App User</span></dt>
          <dd>
            @if (violation.appUser) {
              <div>
                <a [routerLink]="['/app-user', violation.appUser.id, 'view']">{{ violation.appUser.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="trafficpatrolApp.violation.content">Content</span></dt>
          <dd>
            @if (violation.content) {
              <div>
                <a [routerLink]="['/content', violation.content.id, 'view']">{{ violation.content.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/violation', violation.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
