<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (appUser) {
      <div>
        <h2 data-cy="appUserDetailsHeading"><span jhiTranslate="trafficpatrolApp.appUser.detail.title">App User</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ appUser.id }}</span>
          </dd>
          <dt><span jhiTranslate="trafficpatrolApp.appUser.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ appUser.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="trafficpatrolApp.appUser.address">Address</span></dt>
          <dd>
            <span>{{ appUser.address }}</span>
          </dd>
          <dt><span jhiTranslate="trafficpatrolApp.appUser.pinCode">Pin Code</span></dt>
          <dd>
            <span>{{ appUser.pinCode }}</span>
          </dd>
          <dt><span jhiTranslate="trafficpatrolApp.appUser.user">User</span></dt>
          <dd>
            <span>{{ appUser.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/app-user', appUser.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
