<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-violation-heading"
        data-cy="ViolationCreateUpdateHeading"
        jhiTranslate="trafficpatrolApp.violation.home.createOrEditLabel"
      >
        Create or edit a Violation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="trafficpatrolApp.violation.violationType" for="field_violationType">Violation Type</label>
          <input
            type="text"
            class="form-control"
            name="violationType"
            id="field_violationType"
            data-cy="violationType"
            formControlName="violationType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="trafficpatrolApp.violation.points" for="field_points">Points</label>
          <select
            class="form-control"
            id="field_points"
            data-cy="points"
            name="points"
            formControlName="points"
            [compareWith]="comparePoints"
          >
            <option [ngValue]="null"></option>
            @for (pointsOption of pointsCollection; track $index) {
              <option [ngValue]="pointsOption">{{ pointsOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="trafficpatrolApp.violation.appUser" for="field_appUser">App User</label>
          <select
            class="form-control"
            id="field_appUser"
            data-cy="appUser"
            name="appUser"
            formControlName="appUser"
            [compareWith]="compareAppUser"
          >
            <option [ngValue]="null"></option>
            @for (appUserOption of appUsersSharedCollection; track $index) {
              <option [ngValue]="appUserOption">{{ appUserOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="trafficpatrolApp.violation.content" for="field_content">Content</label>
          <select
            class="form-control"
            id="field_content"
            data-cy="content"
            name="content"
            formControlName="content"
            [compareWith]="compareContent"
          >
            <option [ngValue]="null"></option>
            @for (contentOption of contentsSharedCollection; track $index) {
              <option [ngValue]="contentOption">{{ contentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
