<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-points-heading" data-cy="PointsCreateUpdateHeading" jhiTranslate="trafficpatrolApp.points.home.createOrEditLabel">
        Create or edit a Points
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="trafficpatrolApp.points.pointsEarned" for="field_pointsEarned">Points Earned</label>
          <input
            type="number"
            class="form-control"
            name="pointsEarned"
            id="field_pointsEarned"
            data-cy="pointsEarned"
            formControlName="pointsEarned"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="trafficpatrolApp.points.uploadDateTime" for="field_uploadDateTime"
            >Upload Date Time</label
          >
          <div class="d-flex">
            <input
              id="field_uploadDateTime"
              data-cy="uploadDateTime"
              type="datetime-local"
              class="form-control"
              name="uploadDateTime"
              formControlName="uploadDateTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="trafficpatrolApp.points.appUser" for="field_appUser">App User</label>
          <select
            class="form-control"
            id="field_appUser"
            data-cy="appUser"
            name="appUser"
            formControlName="appUser"
            [compareWith]="compareAppUser"
          >
            <option [ngValue]="null"></option>
            @for (appUserOption of appUsersSharedCollection; track $index) {
              <option [ngValue]="appUserOption">{{ appUserOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
