<div>
  <h2 id="page-heading" data-cy="ViolationHeading">
    <span jhiTranslate="trafficpatrolApp.violation.home.title">Violations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="trafficpatrolApp.violation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-violation"
        [routerLink]="['/violation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="trafficpatrolApp.violation.home.createLabel">Create a new Violation</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (violations?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="trafficpatrolApp.violation.home.notFound">No Violations found</span>
    </div>
  }

  @if (violations && violations.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="violationType">
              <div class="d-flex">
                <span jhiTranslate="trafficpatrolApp.violation.violationType">Violation Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="points.id">
              <div class="d-flex">
                <span jhiTranslate="trafficpatrolApp.violation.points">Points</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="appUser.id">
              <div class="d-flex">
                <span jhiTranslate="trafficpatrolApp.violation.appUser">App User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content.id">
              <div class="d-flex">
                <span jhiTranslate="trafficpatrolApp.violation.content">Content</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (violation of violations; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/violation', violation.id, 'view']">{{ violation.id }}</a>
              </td>
              <td>{{ violation.violationType }}</td>
              <td>
                @if (violation.points) {
                  <div>
                    <a [routerLink]="['/points', violation.points.id, 'view']">{{ violation.points.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (violation.appUser) {
                  <div>
                    <a [routerLink]="['/app-user', violation.appUser.id, 'view']">{{ violation.appUser.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (violation.content) {
                  <div>
                    <a [routerLink]="['/content', violation.content.id, 'view']">{{ violation.content.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/violation', violation.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/violation', violation.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(violation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
