<div>
  <h2 id="page-heading" data-cy="ContentHeading">
    <span jhiTranslate="trafficpatrolApp.content.home.title">Contents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="trafficpatrolApp.content.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-content"
        [routerLink]="['/content/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="trafficpatrolApp.content.home.createLabel">Create a new Content</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (contents?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="trafficpatrolApp.content.home.notFound">No Contents found</span>
    </div>
  }

  @if (contents && contents.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contentType">
              <div class="d-flex">
                <span jhiTranslate="trafficpatrolApp.content.contentType">Content Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="uploadDateTime">
              <div class="d-flex">
                <span jhiTranslate="trafficpatrolApp.content.uploadDateTime">Upload Date Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="trafficpatrolApp.content.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="appUser.id">
              <div class="d-flex">
                <span jhiTranslate="trafficpatrolApp.content.appUser">App User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (content of contents; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/content', content.id, 'view']">{{ content.id }}</a>
              </td>
              <td>{{ content.contentType }}</td>
              <td>{{ content.uploadDateTime | formatMediumDatetime }}</td>
              <td>{{ content.status }}</td>
              <td>
                @if (content.appUser) {
                  <div>
                    <a [routerLink]="['/app-user', content.appUser.id, 'view']">{{ content.appUser.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/content', content.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/content', content.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(content)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
